<style type="text/css">
body {
           background-color: #bfd0d390;
       }

       h1 {
        font-size: 100;
        text-align: center;
        color:#4b080890
      
      }
      
</style>
